.daily_component_container {
    background-color: var(--background);
    padding: 0.8rem;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 5px rgb(206, 202, 202);
}

.daily_title {
    position: relative;
    bottom: 0.5rem;
    left: 0.2rem;
    background-color: var(--background);
    font-family: var(--font);
    font-size: 0.9rem;
}

.day_cards_container {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.day_card {
    background-color: var(--sub-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0.4rem 0.2rem 0.4rem 0.2rem;
}

.week_day {
    background-color: var(--sub-background);
    font-size: 0.8rem;
    font-family: var(--font);
}

.weekDay_icon {
    background-color: var(--sub-background);
}

.minmax_temp_container {
    background-color: var(--sub-background);
    display: flex;
    justify-content: center;
}

.minmax_temps {
    background-color: var(--sub-background);
    font-family: var(--font);
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .weekDay_icon {
        width: 3rem;
        height: 3rem;
    }

    .minmax_temps {
        font-size: 0.65rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .weekDay_icon {
        width: 3.5rem;
        height: 3.5rem;
    }

    .minmax_temps {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .daily_component_container {
        width: 80%;
    }

    .weekDay_icon {
        width: 3.5rem;
        height: 3.5rem;
    }

    .minmax_temps {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .daily_component_container {
        width: 60%;
    }

    .daily_title {
        font-size: 1.3rem;
    }

    .day_card {
        height: 8rem;
        width: 100%;
    }

    .week_day {
        font-size: 1rem;
    }

    .weekDay_icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .minmax_temps {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    .daily_component_container {
        width: 60%;
    }

    .daily_title {
        font-size: 1.3rem;
    }

    .day_card {
        height: 8rem;
        width: 100%;
    }

    .week_day {
        font-size: 1rem;
    }

    .weekDay_icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .minmax_temps {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1601px) {
    .daily_component_container {
        width: 60%;
    }

    .daily_title {
        font-size: 1.1rem;
    }

    .day_card {
        width: 100%;
        height: 8rem;
    }

    .week_day {
        font-size: 1.1rem;
    }

    .weekDay_icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .minmax_temps {
        font-size: 1.1rem;
    }
}
